body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #CE0000;
    padding: 20px;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.buttons button {
    background: #CE0000;
    color: white;
    padding: 12px 24px;
    margin: 10px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

#camera {
    width: 90%;
    margin-top: 20px;
    border-radius: 10px;
}

table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ccc;
    padding: 8px;
}
